@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Oswald&display=swap');

// Semantic colors
$colors: (
    "primary": _rgb(#f01bcc),
    "secondary": _rgb(#6b7280),
    "success": _rgb(#22c55e),
    "danger": _rgb(#ef4444),
    "warning": _rgb(#f59e0b),
    "info": _rgb(#0ea5e9),
    "dark": _rgb(#1f2937),
);

// Mixin to generate CSS variables from color map
@mixin getVariables($color-map) {
    @each $name, $values in $color-map {
        --#{$name}: #{$values};
    }
}


:root {
    @include getVariables($colors);

    // Theme Color
    --body-text: #{_rgb(#707172)};
    --body-bg: #{_rgb(#f5f6fa)};
    --body-color: #{_rgb(#111827)};
    --sidebar-bg: #{_rgb(#ffffff)};
    --heading-color: #{_rgb(#111827)};
    --border-color: #{_rgb(#ebecef)};

    // Common Color
    --light: #{_rgb(#f3f4f6)};
    --muted: #{_rgb(#9ca3af)};
    --white: #{_rgb(#ffffff)};
    --black: #{_rgb(#000000)};

    /* Typography */
    --paragraph-font: 'Roboto', sans-serif;
    --title-font: 'Oswald', sans-serif;
}